body {
       font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 80%;
   }
	a{
		color:black;
	}
   div.title { font-weight: bold;}
   div a{
		color:black;
	}
	h1{
		font-size: medium;
	}
	div h2{
		font-size: 60%;
	}
	.required{
		font-size: 120%;
		color:red;
	}
	#main {
		float:left;
		width: 85%;
	}
	#sidebar {
		float: right;
		position: absolute;
		left: 75%;
	}
	div input{
		width: 300px;
		height: 20px;
	}
	ol{width:80%;}
	ol li{padding:0px;margin-left: 40px;}